<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>publicController.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>userControllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>publicController.Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>publicController.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>publicController.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testSendMail</servlet-name>
        <servlet-class>publicController.testSendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePassword</servlet-name>
        <servlet-class>adminControllers.CreatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAuthenticate</servlet-name>
        <servlet-class>adminControllers.AdminAuthenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>adminControllers.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>userControllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>userControllers.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyImage</servlet-name>
        <servlet-class>userControllers.MyImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManage</servlet-name>
        <servlet-class>adminControllers.UserManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeclined</servlet-name>
        <servlet-class>adminControllers.UserDeclined</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserValidating</servlet-name>
        <servlet-class>adminControllers.UserValidating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>adminControllers.UserEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ViewImage</servlet-name>
        <servlet-class>userControllers.ViewImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeeback</servlet-name>
        <servlet-class>publicController.SendFeeback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriend</servlet-name>
        <servlet-class>userControllers.AddFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyFriend</servlet-name>
        <servlet-class>userControllers.MyFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFriendAccept</servlet-name>
        <servlet-class>userControllers.UserFriendAccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFriendCancel</servlet-name>
        <servlet-class>userControllers.UserFriendCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagesManage</servlet-name>
        <servlet-class>adminControllers.ImagesManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>adminControllers.UserDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditImage</servlet-name>
        <servlet-class>userControllers.EditImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteImage</servlet-name>
        <servlet-class>userControllers.DeleteImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUser</servlet-name>
        <servlet-class>userControllers.ViewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>adminControllers.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>publicController.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>userControllers.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>adminControllers.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectionManage</servlet-name>
        <servlet-class>adminControllers.CollectionManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQManage</servlet-name>
        <servlet-class>adminControllers.FAQManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQ</servlet-name>
        <servlet-class>publicController.FAQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManage</servlet-name>
        <servlet-class>adminControllers.FeedbackManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackReply</servlet-name>
        <servlet-class>adminControllers.FeedbackReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCollection</servlet-name>
        <servlet-class>userControllers.ViewCollection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatar</servlet-name>
        <servlet-class>userControllers.UpdateAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeclinedManage</servlet-name>
        <servlet-class>adminControllers.UserDeclinedManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAproveManage</servlet-name>
        <servlet-class>adminControllers.UserAproveManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectionDelete</servlet-name>
        <servlet-class>adminControllers.CollectionDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageManage</servlet-name>
        <servlet-class>adminControllers.ImageManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageEdit</servlet-name>
        <servlet-class>adminControllers.ImageEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageDelete</servlet-name>
        <servlet-class>adminControllers.ImageDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>publicController.SendContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageSearch</servlet-name>
        <servlet-class>adminControllers.ImageSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPassword</servlet-name>
        <servlet-class>userControllers.MyPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactManage</servlet-name>
        <servlet-class>adminControllers.ContactManageA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactReply</servlet-name>
        <servlet-class>adminControllers.ContactReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DC</servlet-name>
        <servlet-class>adminControllers.DC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactDelete</servlet-name>
        <servlet-class>adminControllers.ContactDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendContact</servlet-name>
        <servlet-class>publicController.SendContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DF</servlet-name>
        <servlet-class>adminControllers.DF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testSendMail</servlet-name>
        <url-pattern>/testSendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePassword</servlet-name>
        <url-pattern>/CreatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAuthenticate</servlet-name>
        <url-pattern>/admin/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/admin/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyImage</servlet-name>
        <url-pattern>/MyImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManage</servlet-name>
        <url-pattern>/admin/UserManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeclined</servlet-name>
        <url-pattern>/admin/UserDeclined</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserValidating</servlet-name>
        <url-pattern>/admin/UserValidating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/admin/UserEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImage</servlet-name>
        <url-pattern>/ViewImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeeback</servlet-name>
        <url-pattern>/SendFeeback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriend</servlet-name>
        <url-pattern>/AddFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyFriend</servlet-name>
        <url-pattern>/MyFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFriendAccept</servlet-name>
        <url-pattern>/UserFriendAccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFriendCancel</servlet-name>
        <url-pattern>/UserFriendCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagesManage</servlet-name>
        <url-pattern>/admin/ImagesManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/admin/UserDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditImage</servlet-name>
        <url-pattern>/EditImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteImage</servlet-name>
        <url-pattern>/DeleteImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUser</servlet-name>
        <url-pattern>/ViewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/admin/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/admin/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollectionManage</servlet-name>
        <url-pattern>/admin/CollectionManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQManage</servlet-name>
        <url-pattern>/admin/FAQManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQ</servlet-name>
        <url-pattern>/FAQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManage</servlet-name>
        <url-pattern>/admin/FeedbackManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackReply</servlet-name>
        <url-pattern>/admin/FeedbackReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCollection</servlet-name>
        <url-pattern>/ViewCollection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatar</servlet-name>
        <url-pattern>/UpdateAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeclinedManage</servlet-name>
        <url-pattern>/admin/UserDeclinedManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAproveManage</servlet-name>
        <url-pattern>/admin/UserAproveManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollectionDelete</servlet-name>
        <url-pattern>/admin/CollectionDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageManage</servlet-name>
        <url-pattern>/admin/ImageManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageEdit</servlet-name>
        <url-pattern>/admin/ImageEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDelete</servlet-name>
        <url-pattern>/admin/ImageDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageSearch</servlet-name>
        <url-pattern>/admin/ImageSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPassword</servlet-name>
        <url-pattern>/MyPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactManage</servlet-name>
        <url-pattern>/admin/ContactManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactReply</servlet-name>
        <url-pattern>/admin/ContactReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DC</servlet-name>
        <url-pattern>/DC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactDelete</servlet-name>
        <url-pattern>/ContactDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DF</servlet-name>
        <url-pattern>/DF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>ImagesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>models.ImagesFacadeLocal</local>
        <ejb-link>WebPhotoShare-ejb.jar#ImagesFacade</ejb-link>
    </ejb-local-ref>
</web-app>
